<label>Server name</label>
<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->
<input type="text" class="form-control" [(ngModel)] = "serverName" >
<!--<p>{{ serverName }}</p>-->
<button class="btn btn-primary" [disabled] = "!allowNewServer" (click)="onCreateServer()"> Add Server </button>
<!--<p>{{ serverCreationStatus }}</p>-->

<p *ngIf="serverCreated; else noServer">Server was created</p>

<ng-template #noServer>
    <p>No Server was created</p>
</ng-template>

<hr>


<!-- Assignment 2-->
<!--<label>User Name:</label>
<input type="text" class="form-control" [(ngModel)] = "userName">
<p>{{ userName }}</p>
<button class="btn btn-primary" [disabled] = "!userName" (click)="onAddingUser()">Add User</button>
{{ userAddedMessage }}-->
<hr>
<app-server *ngFor="let s of servers"></app-server>
<!-- <app-server *ngFor="let s of timeStamps">{{ s }}</app-server> -->
<hr>

<button class="btn btn-primanry" (click)='logTimestamp()'>Display Details</button>


<p [ngClass]="hideShow === true ? 'displayPara':'hidePara'">Secret Password = "ketaki"</p>

<p *ngFor="let s of timeStamps, let i = index" [ngStyle]= "{'color':ChangeColor(i)}" >{{s}}</p>



<!--p [ngClass]="{'displayPara':hideShow,
                'hidePara':!hideShow}">Secret Password = "ketaki"</p>-->

    <!--p [ngClass]="{'hidePara': true}" >Secret Password = "ketaki"</p>-->

