<div class="container">
  <div class="row">
 <button (click) = "addrecipe()" class="btn btn-primary">Add recipe</button> 
  <div class="col-md-4">
    <!--<app-recipe-list></app-recipe-list>-->
    
    <div class="recipeItem" *ngFor="let recipe of recipes" >
      <span class="recipeName">{{recipe.name}}</span>
      <span class="recipeImage img-responsive" (click)="showDetails(recipe.id)">
        <img width="100" src="{{recipe.imageUrl}}"/>
      </span>
    </div>
  
  </div>
  

  <div class="col-md-8" *ngIf = "current">
      <!-- <app-recipe-detail></app-recipe-detail>  -->
      <h3>{{current.name}}</h3>
      <!-- <img width="800" src="{{current.imageUrl}}"/>  -->
    </div>


  </div>
</div>